<form method="post" action="/registrar">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nombre">Nombre Alumno</label>
      <input type="text" id="nombre" name="nombre" class="form-control" id="inputEmail4" placeholder="Nombre">
    </div>

    <div class="form-group col-md-6">
      <label for="canet">Carnet</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Carnet" id="carnet" name="carnet">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="cilo">Ciclo</label>
      <input type="text" class="form-control" id="ciclo" name="ciclo">
    </div>

    <div class="form-group col-md-2">
      <label for="facultad">Facultad</label>
      <select id="facultad" name="facultad" class="form-control">
        <option>Ingeniera</option>
        <option>Arquitectura</option>
        <option>Derecho</option>
        <option>Humanidades</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="evento">Evento</label>
      <input type="text" class="form-control" id="evento" name="evento">
    </div>

    <div class="form-group col-md-2">
      <label for="categoria">Categoria</label>
      <select class="form-control" id="categoria" name="categoria">
        <option>General</option>
        <option>Libre</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-primary">registrar</button>
      </label>
    </div>
  </div>
  
</form>