nav(class="navbar navbar-dark bg-primary")
    div.container
        div(class="navbar-header")
            a(href="/alumno", class=["navbar-brand","link-personalizado"]) Eventos UMG
        div(navbar navbar-dark bg-dark)
            ul(class=['nav','navbar-nav','navbar-right','nav-personalizado'])
                li: a(href="/nuevo") Nuevo  
                li: a(href="/modificar") Modificar           
section(class=['app-principal'])
   