html
  head
    title!= title
  body
    h1!= message
    h2!= description

    input(type='text' name='nombre')
    input(type='text' name='carnet')

    button(type='button' class='btn btn-info btn-lg') Guardar alumno

    for alumno in listado
        p #{ alumno.alumno }

