extends diseño
block content
   include templates/nav
   include opciones
   include listado
   include nuevo
   script(src="js/alumno/listado.js")
   script(src="js/alumno/nuevo.js")
   



